body{
	padding: 0 !important;
	
}
.close-navbar{
	margin: 0 !important;
}

/* gestione immagini topbar */
.separate-bottom {

    margin-bottom: 2em;
}

h1.bigtitle {font-size:5.7em;font-weight:normal;}




/* immagine preview mini app */
img.img-view {

    height: 35em !important;

}

img.top-image {
    margin-bottom: 4em !important;
}

iframe{
    height: 36vw;
    width: 64vw;
    margin-left: 18vw;

}

/*
colore1 #509FE1
colore2 #C4CFD5
colore3 #2F74A9
colore4 #E6F2F9

*/