body{
	padding: 0 !important;
	
}
.close-navbar{
	margin: 0 !important;
}

/* gestione immagini topbar */
.separate-bottom {

    margin-bottom: 2em;
}

h1.bigtitle {font-size:5.7em;font-weight:normal;}


/*Gestione del carousello :P */
.first-slide, .second-slide, .third-slide{
    object-fit: cover;
}

/* immagine preview mini app */
img.img-view {

    height: 35em !important;

}

img.top-image {
    margin-bottom: 4em !important;
}

iframe{
    height: 36vw;
    width: 64vw;
    margin-left: 18vw;

}

/*
colore1 #509FE1
colore2 #C4CFD5
colore3 #2F74A9
colore4 #E6F2F9

*/


/* colori navbar */
.navbar {
    background-color: #2F74A9 !important;
    border: 0 !important;
}

.active-navbar {
    color: #2F74A9 !important;
    background-color: #E6F2F9 !important;
}

.nav-item {
    color: #ffffff !important;
}

.drop-nav-item {
    color: #2f74a9 !important;
}

a.active-drop {
    background-color: #2f74a9 !important;
    color: #ffffff !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bolder;
}

.navbar-toggle {
    background: #fff;
}

ul.dropdown-menu {
    background-color: #e6f2f9 !important;
}

img.box-adapt {
    margin-top: 2em !important;
    box-shadow: 1px 5px 5px #000;
}

div.panel-person {
    padding-bottom: 2em !important;
    border-color: #dddddd;
    box-shadow: 1px 1px 1px #ddd;
}
